// vitrinas
.prod_quick_view{
	color:$medium-gray;
  padding: $global-padding;
}
a.listname {
  color: $black;
  :hover {
    color: $dark-gray;
    img {
        transform: scale(1.1);
      }
  }
	img {
    transition: all 69ms ease-in;
  }
}
.product_list_table tr td {
	max-width: 100%;
	width: 100%;
  @include breakpoint(medium) {
  	max-width: 50%;
  	width: 50%;
  }
  @include breakpoint(medium) {
  	max-width: 25%;
  	width: 25%;
  }
}
.product-name {
  font-weight: 600;
  padding-left: $global-padding;
  border-left: 3px solid $alert-color;
}
.listprice {
  padding: $global-padding;
  font-size: 1.2rem;
  font-weight: 600;
}
.prod_top{
	background-color: $white!important;
	&>td {
	  border-top: 1px solid $light-gray;
	  border-left: 1px solid $light-gray;
	  border-right: 1px solid $light-gray;
	}
}
.prod_bottom {
  background-color: $white!important;
  &>td {
    border-bottom: 1px solid $light-gray;
    border-left: 1px solid $light-gray;
    border-right: 1px solid $light-gray;
  }
}
.prod_bottom td {
  position: relative;
}
.in_stock {
  background: $success-color;
  color: $white;
  padding: 3px;
  border-radius: 10px;
  position: absolute;
  top: 0;
  right: $global-padding;
}

.product-list-add-button {
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding:1rem;
	select {
		$size: rem-calc(30px);
	  padding: 0 10px;
	  height: $size;
	  width:$size;
	  font-size: .7rem;
	}
	.button_def.button_prod_add,
	.button_def.button_cart_added {
	  display: inline-block;
	  vertical-align: middle;
	  margin: 0 0 1rem 0;
	  font-family: inherit;
	  padding: 0.85em 1em;
	  -webkit-appearance: none;
	  border: 1px solid transparent;
	  border-radius: 0.1875rem;
	  transition: background-color 0.25s ease-out, color 0.25s ease-out;
	  font-size: 0.9rem;
	  font-weight: 700;
	  line-height: 1;
	  text-align: center;
	  cursor: pointer;
	  background-color: $alert-color;
	  color: $white;
	  &:hover{
			background:scale-color($alert-color, $lightness: -14%);
	  }
	}
	.product-list-add-button br {
	  display: none;
	}
	.prod_compare {
	  display: flex;
	  justify-content: space-around;
	  align-items: center;
	  padding: 0 $global-padding;
	  input {
	  	  margin: 0;
	  	}
	}
}
.dpr_listname {
	button{
		&> span {
	    	display: none;
		}
	}
}
// vitrina home
.banner-one, .banner-two {
  >div{
  	@include breakpoint (medium) {
  		min-height: rem-calc(520px);
  	}
  	@include breakpoint (medium down) {
  		padding:$global-padding 0;
  	}
  	overflow: hidden;
  }
  .gr_name {
    display: none;
  }
}
.group-home{
	.container_div{
		display:grid;
		justify-content:space-around;
		position:relative;
		grid-template-columns:1fr 1fr;
		@include breakpoint(medium) {
		  grid-template-columns:1fr 1fr 1fr;
		}
		.dpr_container{
			position:relative;
			min-height: rem-calc(260px);
			overflow: hidden;
			transition:all 90ms ease-in;
			@include breakpoint(medium down) {
				background: $white;
				margin-bottom: $global-margin;
				border: 1px solid $light-gray;
			}
			&>div {
			  text-align: center;
			}
			.dpr_listname{
				text-align:center;
				.dpr_prod_quick_view {
				  padding: $global-padding 0;
				  font-size:.8rem; 
				}
				.dpr_imagen_thumb{
						@include breakpoint(medium) {
							position: absolute;
						}
					  top: 0;
					  right: 0;
					  left: 0;
					  bottom:0;
					  z-index: -1;
					  width: 100%;
					  margin: 0 auto;
					  background: $white;
					  img{
					  	width:100%;
					  	object-fit: scale-down;
					  	object-position: center;
					  }
				}
			}
			&:hover{
				box-shadow: 1px 1px 10px rgba($dark-gray,.2);
				.dpr_suggested_price,
				.prod_compare,
				.dpr_product-list-add-button,
				.dpr_in_stock,
				.dpr_listprice,
				.dpr_prod_quick_view,
				.dpr_product-name {
					@include breakpoint(medium) {
						transition: all 150ms ease-in-out;
						opacity: 1;
						transform: translateY(0);
					}
				}
			  img{
			  	opacity: .2;
			  	@include breakpoint(medium) {
			  		filter: blur(4px);
			  	}
			  }
			}
			.prod_compare {
				font-size: .8rem;
				@include breakpoint(medium) {
			  	display: none;
				}
			}
			.dpr_in_stock {
				margin-top:$global-margin;
			  background: rgba($black,.8);
			  color: $white;
			}
		}
	}
	.dpr_suggested_price{
		font-size: .8rem!important;
		text-decoration: line-through;
		padding:$global-padding 0 0 0;
		color:$dark-gray !important;
	}
	.wrapper-ribbon {
	  position: absolute;
	  background: $alert-color;
	  padding: 4px;
	  color: $white!important;
	  font-weight: bold;
	  z-index: 1;
	}
	.dpr_product-list-add-button{
		$size:rem-calc(30px);
		  display:flex;
			  justify-content:space-between;
			  align-items:center;
			  padding:$global-padding;
			    select {
			        padding: 0 rem-calc(10px);
			        height: $size;
			        width:$size;
			        font-size: .7rem;
			        margin:0;
			      }
			.button_def {
				display: inline-block;
				vertical-align: middle;
				font-family: inherit;
				padding: 0.85em 1em;
				-webkit-appearance: none;
				border: 1px solid transparent;
				border-radius: 0.1875rem;
				transition: background-color 0.25s ease-out, color 0.25s ease-out;
				font-size: 0.9rem;
				font-weight: 700;
				line-height: 1;
				text-align: center;
				cursor: pointer;
				background-color: $alert-color;
				color: $white;
				&:hover{
				  background:scale-color($alert-color, $lightness: -14%);
				}
		}
	}
	.dpr_suggested_price,
	.prod_compare,
	.dpr_product-list-add-button,
	.dpr_in_stock,
	.dpr_listprice,
	.dpr_prod_quick_view,
	.dpr_product-name {
	  font-size: .9rem;
	  color: black;
	  font-weight: 700;
	  @include breakpoint(medium) {
	  	opacity: 0;
	  	transform: translateY(100px);
	  }
	}
	.dpr_product-name{
		overflow: hidden;
		line-height: 1.2;
		text-transform: lowercase;
			&::first-letter{
				text-transform: capitalize;
			}
	}
	.dpr_listprice{
		padding-top:0 0 $global-padding;
	}
}
// quick view home
button.ui-dialog-titlebar-close {
  color: $alert-color;
  background: $alert-color;
  border-radius: 100%;
  &:after {
    content: 'x';
    color: $white;
    font-weight: 600;
  }
}
.dpr_out_of_stock {
  display: inline-block;
  position: absolute;
  vertical-align: middle;
  margin: 0 0 $global-margin 0;
  font-family: inherit;
  padding: 0.85em $global-padding;
  -webkit-appearance: none;
  border: 1px solid transparent;
  border-radius: 0.1875rem;
  transition: all 0.25s ease-out;
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  background-color: $dark-gray;
  color: $white;
  width: 100%;
  z-index: 1;
  border-radius:20px;
  @include breakpoint(medium) {
 		transform:rotate(5deg)translate(0px,-1000px)scale(1);
  }
}

// vitrina producto 2
.group_shield{
	.dpr_container {
		transition: all 69ms ease-in;
	  border: 1px solid $light-gray;
	  margin-bottom: $global-margin;
	  position:relative;
	  overflow:hidden;
	  background-color: $white;
	  float:left;
	  width: 50%;
	  @include breakpoint(medium) {
	  	max-width: 25%;
	  	max-height: rem-calc(450px);
	  	min-height: rem-calc(450px);
	  }
	   a{
	    color:black;
	  }
	  &:hover {
	  img{
	      transition: all 69ms ease-in;
	      transform:scale(1.1);
	    }
	    .dpr_product-name{
	    	color:$warning-color;
	    }
	    @include breakpoint(medium) {
	    	box-shadow: 1px 1px 10px rgba($dark-gray,.2);
	    	z-index:1;
	    	transform: translateY(-2px);
		    .dpr_out_of_stock {
		      transition: all 480ms ease-in-out;
		    	transform:rotate(5deg)translate(0px,-40px)scale(3);
		    }
	    	.dpr_listname .button_def,
	    	.button_def.button_prod_add,
	    	.dpr_product-list-add-button select,
	    	.dpr_product-list-add-button::before {
	    		opacity:1;
	    		transform: translatex(0);
	    	}
	    }
	    .dpr_prod_quick_view{
	    	color:$dark-gray;
	    }
	  }
	}
	.dpr_imagen_thumb {
	  overflow: hidden;
	}
	.dpr_listname {
	  img{
	    margin:0 auto;
	    display: block;
	    min-height: 100%;
	    min-width: 100%;

	  }
	}
	.dpr_prod_quick_view{
		transition: all 0.25s ease-out;
	  color:$medium-gray;
	  padding:$global-padding/3 $global-padding;
	}
	.dpr_product-name{
	  font-weight: 600;
	  padding:0 $global-padding;
	  border-left: 3px solid $alert-color;
	  height: 41px;
	  @include breakpoint(medium) {
	  	height: 49px;
	  }
	  overflow: hidden;
	  line-height: 1.2;
	  text-transform: lowercase;
	  	&::first-letter{
	  		text-transform: capitalize;
	  	}
	  @include breakpoint(medium) {
	  	font-size: rem-calc(14px)
	  }
	}
	.dpr_in_stock{
	  background: $success-color;
	  color: $white;
	  padding: 3px;
	  position: absolute;
	  top: 0;
	  right:0;
	}
	.wrapper-ribbon {
	  position: absolute;
	  background: $alert-color;
	  padding: 4px;
	  color: white;
	  font-weight: bold;
	  z-index: 1;
	}
	.dpr_suggested_price {
	  font-size: .8rem;
	  text-decoration: line-through;
	  padding: 0 $global-padding;
	  color:$dark-gray;
	}
	.dpr_listprice{
	  padding: 0 $global-padding;
	  font-size: 1.2rem;
	  font-weight: 600;
	}
	   
	.dpr_product-list-add-button {
	  @include breakpoint(medium) {
	  	display:flex;
	  	justify-content:space-between;
	  	align-items:center;
	  }
	  padding:0 $global-padding;
	    select {
	    	margin:0;
	    	transition: all 0.25s ease-out;
	    	$size:rem-calc(30px);
	        padding: 0 rem-calc(5px);
	        height: $size;
	        width:$size;
	        font-size: .7rem;
	            @include breakpoint(medium) {
	            	margin:0 0 $global-margin;
	        			opacity:0;
	            	transform: translatex(-130%);
	            }
	      }
	  }
	.dpr_product-list-add-button {
				&::before {
					transition: all 0.25s ease-out;
				  content: 'Cant.';
				  font-size: .8rem;
				  font-weight: 100;
				  @include breakpoint(medium) {
				  	transform: translatex(-130%);
				  	opacity: 0;
				  }
				}
	      .button_def.button_prod_add,
	      .dpr_listname .button_def,
	      .button_def.button_cart_added {
	          display: inline-block;
	          vertical-align: middle;
	          margin: 0 0 $global-margin 0;
	          font-family: inherit;
	          padding: 0.85em 1em;
	          -webkit-appearance: none;
	          border: 1px solid transparent;
	          border-radius: 0.1875rem;
	          transition: all 0.25s ease-out;
	          font-size: 0.9rem;
	          font-weight: 700;
	          line-height: 1;
	          text-align: center;
	          cursor: pointer;
	          background-color: $alert-color;
	          color: $white;
	          @include breakpoint(medium) {
	      			opacity:0;
	          	transform: translatex(130%);
	          }
	          &:hover{
	            background:scale-color($alert-color, $lightness: -14%);
	          }
	    }
	  }
	  .prod_compare {
	    padding:0 0 $global-padding;
	    font-size: .8rem;
	    text-align:center;
	    color:$dark-gray;
	    @include breakpoint(medium) {
	    	padding: 0 $global-padding*2 $global-padding/2 $global-padding*2;
	    }
	    input {
	            margin: 0;
	          }
	  }
}
// category filters
.title-filtros p,
.use-filters #your_filters,
.texto_cat_main,
.sp_cat_name {
	$orchid-color:#cabdf9;
    background: $orchid-color;
    padding: 0 $global-padding;
    font-weight: 600;
    border-bottom: rem-calc(1px) solid scale-color($orchid-color, $lightness: -30%);
    font-size: .85rem;
    text-transform: lowercase;
    &:first-letter{
    	text-transform: uppercase;
    }
}

.categories-filter {
    font-size: .85rem;
	.lista_filtros {
		li {
		    transition:all 60ms ease-in;
		    padding: 0 $global-padding;
		    &:hover {
			    background:scale-color($warning-color, $lightness: 60%);
			    color:$warning-color;
			    cursor:pointer;
			}
		}
	}
}
.filtered_spec{
	padding-left:$global-padding;
	color:$dark-gray;
	display: block;
    &:hover {
	    background:scale-color($warning-color, $lightness: 60%);
	    color:$warning-color;
	    cursor:pointer;
	}
}
.filtros-lista >.vertical_menu> ul> li {
        a{
    		padding-left:$global-padding;
        	color:$dark-gray;
        	display: block;
    	    &:hover {
    		    background:scale-color($warning-color, $lightness: 60%);
    		    color:$warning-color;
    		    cursor:pointer;
    		}
        }
}
.filtros-lista >.vertical_menu> ul> li>ul {
    padding-left:$global-padding;
    li {
        transition:all 60ms ease-in;
        padding: 0 $global-padding;
        a{
        	color:$dark-gray;
        }
        &:hover {
    	    background:scale-color($warning-color, $lightness: 60%);
    	    color:$warning-color;
    	    cursor:pointer;
    	}
    }
}
#your_filters_remove_button,
.filter-list-more,
.filter-list-less {
    background: $alert-color;
    text-align: right;
    padding: 0 $global-padding;
    font-weight: 700;
    color:$white;
    cursor:pointer;
    margin-bottom: $global-margin;
    &:hover{
    	transition:all 60ms ease-in;
		background:scale-color($alert-color, $lightness: -14%);
    }
}
#your_filters_remove_button{
	&:after {
	    content: '»';
	    margin-left:3px;
	}
}
// compare products
#prod_compare_bar {
  background: rgba($warning-color,.95);
  padding: $global-padding/2;
  margin: 0 auto;
  color: $white;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 9;
  box-shadow: 1px 1px 10px rgba($dark-gray,.2);
  @include breakpoint(medium) {
  max-width: 50vw;
  }
  form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 900;
    background: $black;
    padding: $global-padding/2;	
    #prod_compare_bar_num {
    	$size: rem-calc(30px);
      font-size: 1.2rem;
      background: $alert-color;
      height: $size;
      width: $size;
      text-align: center;
      vertical-align: middle;
      border-radius: 100%;
  		box-shadow: 1px 1px 10px rgba($dark-gray,.2);
    }
  }
  button{
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    font-family: inherit;
    padding: 0.85em $global-padding;
    -webkit-appearance: none;
    border: 1px solid transparent;
    border-radius: 0.1875rem;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    font-size: 0.9rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    background-color: $success-color;
    color: $white;
    &:hover{
      background:scale-color($success-color, $lightness: -14%);
    }
  }
}
// shot by
#tpl_sort_by {
  position:relative;
  @include breakpoint(medium) {
    select{
  	width: 40%;
    }
  }
  &:hover{
    select{
      @include breakpoint(medium) {
        display:block;
      }
    }
  }
  span{
    background:$medium-gray;
    vertical-align:middle;
    border-radius:3px;
    font-weight:600;
    color:$white;
    display: block;
      @include breakpoint(medium) {
    		padding:$global-padding/2 $global-padding;
    		width: 100%;
  		}
    }
    select{
      @include breakpoint(medium) {
        width:auto;
        position: absolute;
        top: 100%;
        z-index: 9;
        right: 0;
        display:none;
      }
    }
}
// filters
.categories-filter{
	 ul {
	    list-style: none;
	    margin:0;
	}
}
.content-f {
	margin-top: $global-margin*2;
	&> div{
		&:last-child {
		    margin-top: $global-margin*3;
		}
	}
}
@include breakpoint (medium down) {
	.filter-mobile-subcategories{
		display: none;
	}
	div#tpl_sort_by span {
	  font-size: .85rem;
	  color: $dark-gray;
	  text-align:right;
	  background: 0;
	  padding: 0;
	}
}
// producto del día
.product-slide{

	  background: $white;
	  @include breakpoint(medium) {
	  margin-bottom:$global-margin;
	}

	.dpr_container > a {
	  display: flex;
	  line-height: 1.2;
	  align-items: center;
	  .dpr_imagen_thumb {
				img{
					max-width: 80px;
					@include breakpoint(medium) {
					  	  max-width:120px;
					  	}
			}
	  }
	}
	.gr_name,
	.prod_compare,
	.dpr_product-list-add-button {
	  display: none;
	}
	.dpr_prod_quick_view {
	  display: none;
	}
	.dpr_listprice {
	  text-align: right;
	  font-weight: 900;
	  padding:0 $global-padding;
	  @include breakpoint(medium) {
	  	font-size: 1.5rem;
	  	padding: $global-padding;
	  }
	}
	.day-ofert{
	  display:flex;
	  background:$warning-color;
	  	@include breakpoint(medium) {
	  	position: relative;
	  border-radius: rem-calc(10px) 0 0 rem-calc(10px);
	  	&::after {
	  		  	$size:rem-calc(30px);
	  			  content: '';
	  			  width: $size;
	  			  height: $size;
	  			  position: absolute;
	  			  right: -15px;
	  			  top: 40%;
	  			  background: $warning-color;
	  			  display: block;
	  			  z-index: 1;
	  			  transform: rotate(45deg);
	  	}
		}
	}
	.day-ofert h2 {
	  align-self: center;
	  color:scale-color($warning-color, $lightness: -30%);;
	  font-weight:900;
	  text-align:center;
	  line-height: 1;
	  @include breakpoint(medium) {
	  	padding:$global-padding;
	  }
	}
	.dpr_product-name {
	  color: $dark-gray;
	  font-weight: 900;
	  @include breakpoint (medium) {
	  	padding: $global-padding;
	  }
	}
}