body{
	background: #F3F4F6!important;
}
.logo-um{
	padding: $global-padding/2;
  img {
      max-width: rem-calc(140px);
  }
}
.badge.warning{
	color:$white;
}
// home group title
main.home_um{
	#tpl_titulo {
	  display: none;
	}
}
// back to top
#back-top {
$size: 48px;
  height: $size;
  width: $size;
  font-size: 2rem;
  text-align:center;
  background: $alert-color;
  z-index: 7;
  position: fixed;
  right: 10px;
  bottom: 30vh;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0,0,0,.5);
	i{
	padding:$global-padding/2;
	}
}
// product table fixes
.hr1 {
  display: none;
}
table.product_list_table tr:last-child {
  display: none;
}

table.product_list_table td {
  background: $white;
}
table.container_table tbody {
  border: 0;
}
#carrousel_3> i:before {
  color: $dark-gray;
}
.container_div {
    width: 100%;
    display: inline-block;
}
.specs_title_select {
    font-size:0;
}
#product_variants  br{
    display: none;
}
// arreglo altura
.dpr_listname {
    margin-bottom: 1px;
}
table tbody tr:nth-child(even){
    background: $white;
}
.dpr_in_stock, span.in_stock {
  display: none;
}
// quick view
.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front{
	top:5vh!important;
  max-width: 90%;
	@include breakpoint(medium) {
		top:10vh!important;	
  	max-width: 380px;
	}
}

// Quick View
div#quick_view_text {
  text-transform: lowercase;
}
#quick_view_prod_name {
  font-size: .85rem;
  font-weight: 600;
  text-align: center;
  line-height: 1;
  &:first-letter {
  	text-transform: uppercase;
	}
}
#quick_view_prod_price{
  font-size: .85rem;
  font-weight: 600;
  text-align: center;
}
#quick_view_text {
  display: grid;
	grid-template-columns: 1fr;
  @include breakpoint(medium) {
		grid-template-columns: 2fr 1fr;
  }
  grid-gap: 1rem;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}
#quick_view_prod_go .quick_view_prod_url,
#quick_view_prod_add .button_def.button_prod_add,
.button_def.button_cart_added{
					width: 100%;
          display: inline-block;
          vertical-align: middle;
          margin: 0 0 $global-margin 0;
          font-family: inherit;
          padding: 0.85em 1em;
          -webkit-appearance: none;
          border: 1px solid transparent;
          border-radius: 0.1875rem;
          transition: background-color 0.25s ease-out, color 0.25s ease-out;
          font-size: 0.9rem;
          font-weight: 700;
          line-height: 1;
          text-align: center;
          cursor: pointer;
          background-color: $alert-color;
          color: $white;
          &:hover{
            background:scale-color($alert-color, $lightness: -14%);
          }
    }