body{
	background: #F3F4F6!important;
}
.logo-um{
	padding: $global-padding/2;
  img {
      max-width: rem-calc(140px);
  }
}
.navigation-um{
	>div{
		a{
			display: block;
			border-radius: 0;
			margin-bottom: 0;
			font-weight: 600;
      display: flex;
      max-height: 2rem;
      align-items: center;
      justify-content: space-around;
		}
	}
}
.badge.warning{
	color:$white;
}
// home group title
main.home_um{
	#tpl_titulo {
	  display: none;
	}
}
// back to top
#back-top {
$size: 48px;
  height: $size;
  width: $size;
  font-size: 2rem;
  text-align:center;
  background: $alert-color;
  z-index: 7;
  position: fixed;
  right: 10px;
  bottom: 30vh;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0,0,0,.5);
	i{
	padding:$global-padding/2;
	}
}
// product table fixes
.hr1 {
  display: none;
}
table.product_list_table tr:last-child {
  display: none;
}

table.product_list_table td {
  background: white;
}
table.container_table tbody {
  border: 0;
}
#carrousel_3> i:before {
  color: $dark-gray;
}
.container_div {
    width: 100%;
    display: inline-block;
}
.specs_title_select {
    font-size:0;
}
#product_variants  br{
    display: none;
}
// arreglo altura
.dpr_listname {
    margin-bottom: 1px;
}