body{
	background: #F3F4F6!important;
}
.logo-um{
	padding: $global-padding;
}
.navigation-um{
	>div{
		a{
			display: block;
			border-radius: 0;
			margin-bottom: 0;
			font-weight: 600;
		}
	}
}
.badge.warning{
	color:$white;
}
// home group title
main.home_um{
	#tpl_titulo {
	  display: none;
	}
}
// back to top
#back-top {
$size: 48px;
  height: $size;
  width: $size;
  background: $alert-color;
  z-index: 7;
  position: fixed;
  right: 10px;
  bottom: 30vh;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0,0,0,.5);
  &:before {
    content: '>';
    transform: rotate(-90deg);
    display: block;
    font-size: 3.8rem;
    margin-top: -28px;
    margin-left: -4px;
    color: $white;
  }
}
// product table fixes
.hr1 {
  display: none;
}
table.product_list_table tr:last-child {
  display: none;
}

table.product_list_table td {
  background: white;
}
table.container_table tbody {
  border: 0;
}