//Banner Middle
// middle banner home
.circle-button {
  position: relative;
}
.banner-home-middle {
  padding: $global-padding 0;
}
.buttons-middle-banner {
  width: 100%;
  left: 0;
  right: 0;
  position: absolute;
  bottom:$global-margin*2;
  a {
  	transition: all 0.25s ease-out;
    border-color:$white!important;
    color:$white!important;
    &:hover{
    	background: rgba($white, .5)!important;
    	color:$dark-gray!important;
    }
  }
}
// carousel brands
.top-brand-title {
  padding: $global-padding;
  h2 {
    font-weight: 600;
  }
}
.top-brand-carousel {
  padding: 0 $global-padding $global-padding;
}
#tpl_sort_by {
  position:relative;
  @include breakpoint(medium) {
    select{
  	width: 40%;
    }
  }
  &:hover{
    select{
      @include breakpoint(medium) {
        display:block;
      }
    }
  }
  span{
    background:$medium-gray;
    padding:$global-padding/2 $global-padding;
    vertical-align:middle;
    border-radius:3px;
    font-weight:600;
    color:$white;
    width: 100%;
    display: block;
    }
    select{
      width: 100%;
      @include breakpoint(medium) {
        width:auto;
        position: absolute;
        top: 100%;
        z-index: 9;
        right: 0;
        display:none;
      }
    }
}
.navigation-category-um{
    padding:$global-padding;
}
// component autocomplete search
ul#ui-id-1 {
  overflow-y: scroll;
  max-height: 60vh;
  padding: 0 $global-padding/2;
  @include breakpoint(medium) {
  	max-height: 50vh;
  	padding: 0 $global-padding*2;
  }
  background:rgba($white,.7);
}
.ui-menu .ui-menu-item-wrapper {
  padding: 0 1rem;
  margin: 0;
}
.ui-state-active {
  border: 0!important;
  background: transparent!important;
  color:$black!important;
  font-size: .8rem!important;
}
li.ui-menu-item{
	border-bottom: rem-calc(1px) solid $medium-gray;
	padding: rem-calc(2px) 0;
	transition:all 120ms ease-in;
	background: $white;
	@include breakpoint(medium) {
		&:hover,&:focus {
		  transform:scale(1.1);
		  border-radius: $global-padding*2;
		  box-shadow: 1px 1px 10px rgba($dark-gray,.2);
		  a{
		  	background:$white;
		  	color:$dark-gray;
		  }
		}
	}
 a {
   font-size:.7rem;
   align-items: center;
   width: 100%;
   display: block;
   color:$black;
		.autocomplete_image {
			$size:rem-calc(50px);
		  max-width: $size;
		  max-height: $size;
		  border-radius: 100%;
		  border: rem-calc(1px) solid $alert-color;
		  margin:0 auto;
		  display: inline-block;
		}
		.title_autocomplete {
		  margin-left: $global-margin;
		  margin-top: $global-margin;
		  font-weight: 600;
		  display: inline-block;
		}
 }
}
// producto
@mixin text-capital($margin){
		text-transform: lowercase;
		@include breakpoint(medium) {
			margin:$margin;
			}
	  	&::first-letter{
	  		text-transform: uppercase;
	  	}
}
.brd_prd_name{
@include text-capital(0);
font-weight: 900;
}
.title-product-um{
	@include text-capital($global-margin 0);
  border-left: rem-calc(3px) solid $alert-color;
  padding:$global-padding;
    @include breakpoint(medium) {
	   padding: 0 $global-padding;
    }
  }
#product_gallery,
.galery-product-um {
  position: relative;
  float: none;
}
#product_availability .in_stock {
    right: 0;
    font-size: 1rem;
}
#div_with_stock {
  font-size: 0;
}
#product_availability {
  position: absolute;
  top: 3rem;
  right: 0;
  z-index: 1;
}
.out_of_stock {
  background: #333;
  color: white;
  font-weight: 900;
  padding: 1rem;
  border-radius: 20px;
  font-size: 1rem;
}

.wrapper-ribbon-big {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.ribbon-big {
	position: absolute;
	background: $alert-color;
	padding: rem-calc(4px);
	color: $white;
	font-weight: bold;
	z-index: 1;
	right: 0;
}
#product_review_score {
    display: flex;
    align-items: center;
    color:$dark-gray;
    font-size:.8rem;
    justify-content: space-around;
    padding:0 $global-padding;
    max-width:rem-calc(500px);
    border-top:1px solid $light-gray;
    border-bottom:1px solid $light-gray;
     a{
        color:$dark-gray;
    }
}
.etalage_small_thumbs> ul>li>img{
  $size:rem-calc(42px);
    max-width: $size;
    max-height: $size;
    @include breakpoint(medium) {
      max-width: $size+(rem-calc(8px));
      max-height: $size+(rem-calc(8px));
    }
}
// Zoom
ul#etalage {
    width: 100%!important;
    height: auto!important;
    float: none!important;
}
li.etalage_thumb.etalage_thumb_active {
    width: 100%;
    height: auto!important;
    position: relative;
}
li.etalage_zoom_area {
    left: 100%!important;
    top: -20%;
}
#etalage .etalage_thumb_image {
  width: 100%!important;
  height: auto!important;
}
li.etalage_small_thumbs {
  width: 100%!important;
}
li.etalage_icon {
  position: absolute;
  top: 0!important;
  left: 0!important;
  padding: $global-padding*.8!important;
  background-position: center center!important;
  border: rem-calc(4px) solid $alert-color!important;
  border-radius: 0px 100% 100% 100%!important;
}
#product_pricing {
    font-weight:900;
    font-size:0;
    color:$dark-gray;
    padding-top: $global-padding;
    padding-left: $global-padding;
    .suggested_price{
     font-size:1rem;
     width:100%;
     text-decoration:line-through;
     display:block;
    }
    #product_price{
     font-size:1.8rem;
     width:100%;
     display:block;
    }
}
#product_variants> select {
    max-width: initial;
    width: auto;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
}
.button_prod_add.button_add_long {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 1rem 0;
    font-family: inherit;
    padding: 0.85em 1em;
    -webkit-appearance: none;
    border: 1px solid transparent;
    border-radius: 0.1875rem;
    transition: all 0.25s ease-out;
    font-size: 0.9rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    background-color:$alert-color;
    color: $white;
     max-width: 100%;
    width: 100%;
    @include breakpoint(medium) {
      width:auto;
    }
    &:hover{
      background: scale-color($alert-color, $lightness: -15%);
    }
}
#prod_spec_input_hidden {
   display: inline-block;
   font-size: .85rem;
}
#product_variants {
    padding: 0 $global-padding;
    &>select{
      margin:0;
    }
}
#quantity_selects_div {
    max-width: rem-calc(139px);
}
.select_variant,
#product_add_cart {
    padding: 0 $global-padding;
}
#product_add_cart{
  .input-group.plus-minus-input{
     max-width: rem-calc(139px);
  }
}
.select_variant{
  font-size:.85rem;
}
#info_product{
  a{
    color:$warning-color;
  }
  &::after {
    content: 'del producto con este peso';
  }
}
// checkout
.main-account-um{
  display: flex;  
  flex-flow: row wrap;
  font-size: .85rem;
    .account-content-um{ flex: 2 0px; }
    #myaccount_title{ order: 1; } 
    #myaccount_registration,
    #myaccount_addresses_address_book{ order: 2; }
    #myaccount_new,
    #myaccount_addresses_new_addresss{ order: 3; }
   .wrapper-account-content-um {
      justify-content: space-around;
      background: $white;
      width: 100%;
      @include breakpoint(medium) {
        margin:$global-margin auto;
      }
    }
    #myaccount_title,
    #myaccount_orders_title,
    .myaccount_page_title{
        width: 100%;
        padding: $global-padding;
    }
    #myaccount_new_title,
    #myaccount_registration_title,
    #updatecontactform,
    #new_address,
    #myaccount_wishlist{
      h2{
        font-size: 1rem;
        color:$alert-color;
      }
    }
    // into account
    #myaccount_orders_submenu,
    .myaccount_submenu{
        width: 100%;
        display: flex;
        td {
                width: 100%;
                text-align:center;
                font-size: 0;
                @include breakpoint(medium) {
                  display: flex;
                }
                & a,
                & b {
                    font-size: .85rem;
                }
                & b{
                  color:$alert-color;
                      width: 100%;
                }
            }
    }
    #myaccount_box1 {
        width: 100%;
    }
    #myaccount_orders_orders_placed {
      & b{
        color:$alert-color;
      }
      select {
              width: auto;
          }
    }
    // actualizar datos
    #myaccount_profile_box1 {
        width: 100%;
        #updatecontactform {
            @include breakpoint(medium) {
              width: 50%;
              margin: 0 auto;
            }
            br {
                display: none;
            }

        }
    }
    // actualizar direcciones
    #myaccount_addresses_address_book{
    #address_book{
        font-size: 1rem;
        color:$alert-color;
        font-weight: 600;
      }
    }
    #new_address {
      br {
              display: none;
          }
    }
    #updateshipform{
      br {
             display: none;
         }
      center{
        a{
          width: 100%;
          font-weight: 900;
          padding: 0.85em $global-padding;
          color:$white;
        }
      }
    }
    #address_selection .formtable td {
        background: #f3f4f6;
    }
    #address_selection table td a {
      width: auto;
      display: inline-block;
      color: $alert-color;
      &:hover{
      	color:$warning-color;
      }
    }
    #address_selection>table {
      width: auto!important;
    }

    #address_selection>table tr td {
      width: 100%;
      display: block;
    }
    // Whislist
    .wishlist-title{
			font-size: 1rem;
			color:$alert-color;
    }
		#wishlists_create input[type*="submit"]{
			display: inline-block;
			vertical-align: middle;
			margin: 0 0 1rem 0;
			font-family: inherit;
			padding: 0.85em 1em;
			-webkit-appearance: none;
			border: 1px solid transparent;
			border-radius: 0.1875rem;
			transition: all 0.25s ease-out;
			font-size: 0.9rem;
			font-weight: 700;
			line-height: 1;
			text-align: center;
			cursor: pointer;
			background-color:$alert-color;
			color: $white;
			 max-width: 100%;
			width: 100%;
			@include breakpoint(medium) {
			  width:auto;
			}
			&:hover{
			  background: scale-color($alert-color, $lightness: -15%);
			}
		}
    input {
        margin: 0;
    }
    #clear {
        display: none;
    }
    a {
        color: $dark-gray;
        width: 100%;
        display: block;
        text-align: center;
    }
    #updatecontactform input.button,
    #update-contact {
        width: 100%;
        font-weight: 900;
        padding: 0.85em $global-padding;
        color:$white;
    }
    form#loginform input[type*="submit"] {
        width:100%;
    }
}

// Carrito de compras
.list-item-checkout-um{
	#cart_container{
		@include breakpoint(medium) {
			padding:$global-padding;
		}
		h2{
			font-size: 1rem;
			color:$alert-color;
		}
		&>br{
			display:none;
		}
			#recalculateform{
				img{
					max-width: 100px;
				}
				td {
				  padding: 0 $global-padding;
				  vertical-align: middle;
				  &>a{
				  	color:$dark-gray;
				  	text-transform: lowercase;
				  	font-weight: 900;
				  	&:first-letter{
				  		text-transform: uppercase;
				  	}
				  	&:hover{
				  		color:$warning-color;
				  	}
				  }
				  .fa{
				  	color:$alert-color;
				  }
				  .small.prd_qty_vc.im-enteros{
				  	margin:0;
				  	text-align: center;
				  }
				  .js_remove {
				  	a {
					    color: red;
					    font-size: .85rem;
					  }
				  }
				}
				tr {
				  border-bottom: 1px solid $light-gray;
				  &:last-child{
				  	a{
				  		font-weight: 900;
				  		padding: 0.85em $global-padding;
				  		color:$white;
				  	}
				  }
				}
				tr.cart_head,
				tr.cart_total {
					background: $alert-color;
					color: $white;				
				  b{
				  	padding: 1rem 0;
				  	display: block;
				  }
				}	
			}
	}
}
	#tpl_steps {
		#steps_checkout_info {
			  display: flex;
			  justify-content: space-around;
			  align-items: center;
			  text-align: center;
			}
	}
.steps-pay-um {
  position: relative;
  &:after {
  	content: '';
  	border-bottom: rem-calc(4px) solid $warning-color;
  	display: block;
  	position: absolute;
  	top: 50%;
  	left: 0;
  	right: 0;
  	z-index: -1;
	}
}
#myaccount_orders_orders_placed{
	 h2 {
	  font-size: .85rem;
	  color: $alert-color;
	}
}
// imputchip customer
.inputship-um{
  .cart-resume-um {
      font-size: .85rem;
      b {
            color: $alert-color;
        }
  }
  #returning_customers_title {
      display: none;
  }
	#tpl_logout {
			  text-align: right;
		a {
			  padding: 1rem;
			  color: $alert-color;
        font-weight: 900;
			}
	}
  .table_address_selection {
    td {
          font-size: .85rem;
          text-transform: lowercase;
          &:first-letter {
                text-transform: uppercase;
            }
          &:last-child{
            a {
                   display: inline-block;
                   vertical-align: middle;
                   margin: 0 0 1rem 0;
                   font-family: inherit;
                   padding: 0.85em 1em;
                   -webkit-appearance: none;
                   border: 1px solid transparent;
                   border-radius: 0.1875rem;
                   transition: all 0.25s ease-out;
                   font-size: 0.9rem;
                   font-weight: 700;
                   line-height: 1;
                   text-align: center;
                   cursor: pointer;
                   background-color:$alert-color;
                   color: $white;
                   &:hover{
                     background: scale-color($alert-color, $lightness: -15%);
                   }
                   &:first-letter {
                       text-transform: uppercase;
                   }
               }
          }
      }
      tr {
          display: flex;
          width: 100%;
          justify-content: space-between;
          align-items: center;
      }
  }
  #tpl_address_selection{
    &>b {
          color: $alert-color;
          font-weight: 900;
      }
  }
  #new_customer_form{
    tr:first-child {
        color: $alert-color;
        font-size: 1rem;
        font-weight: 900;
        td:last-child{
          &:before {
            content: '←';
            margin-right: .5rem;
        }
        }
    }
  }
  #returning_customer_intro {
      margin-bottom: 1rem;
  }
  #returning_customer_email label,
  #returning_customer_password select {
      font-size: .8rem;
  }
  #returning_customer_password{
    &>a {
          color: $alert-color;
          text-align: center;
          display:block;
      }
  }
  #returning_customer_button {
    input {
          width: 100%;
      }
  }
	form#updatecontactform {
	  font-size: .85rem;
	  input {
	  	  margin: 0;
	  	}
	}
	#billing_main_table {
		td {
			b {
			  color: $warning-color;
			}
		}
	}
	#billing_main_table td {
	  padding: $global-padding/2;
	}

	#opciones_estados,
	#div_city{
		 select {
			  margin: 0;
			}
	}
	#country{
		margin: 0;
	}
	.general_title,
	#cart_column_title{
		font-size: 1rem;
		color:$alert-color;
		font-weight: 600;
	}
	.wrapper-main-inputship {
		margin-bottom:$global-margin;
		& > div {
			  padding: $global-padding;
			}
	}
  // cart     
  #cart_column_title {
      font-weight: 900;
      color: $alert-color;
      background: $white;
  }

  tr.cart_column_product_container {
      background: $white;
  }

  td.cart_column_prod_name a,
  td.cart_column_prod_name {
      color: $dark-gray;
      font-size: .7rem;
      text-transform: lowercase;
      text-align: left;
  }


  .cart_column_products {
    tr {
      background: $white!important;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: $global-margin;
    }
  }

  td.cart_column_prod_price {
      font-size: .7rem;
  }

  td.cart_column_image img {
      width: 50px;
  }

  td.cart_column_image {
      padding: 0;
  }
  td.cart_column_prod_name {
      display: flex;
      justify-content: space-between;
      align-items: center;
      br {
            display: none;
        }
      a:first-letter {
            text-transform: uppercase!important;
        }
  }
  tr.cart_column_totals {
      color: $alert-color;
      font-size: .8rem;
      font-weight:600;
  }
  .address-destiny-um {
      font-size: .85rem;
    #new_customer_title{
      color:$alert-color;
      font-weight: 900;
    }
    #new_customer_form_intro {
      b {
        color:$alert-color;
        font-weight: 900;
      }
    }
    #new_customer_form{
      td{
        input{
          margin:0;
        }
        b{
          color:$alert-color;
          font-weight: 900;
          font-size: .8rem;
        }
        br{
          display:none;
        }
      }
      center{
        input{
          width:100%;
          display: block;
        }
      }
    }
  }

}
// confirm order
.order-confirm-um{
  #confirm_buttons{
    &>a{
      &:last-child {
          font-weight: 900;
          padding: 0.85em $global-padding;
          color:$white;
      }
    }
  }
 #confirm_order_num,
 #confirm_order_date{
   font-size:.85rem;
   color:$warning-color; 
   font-weight:900;
   padding:0 $global-padding;
  }
  table#confirm_cart_table {
      font-size: .85rem;
      text-transform: lowercase;
      tr {
        td{
          &:first-letter {
              text-transform: uppercase;
          }
        }
      }
      #confirm_cart_head,
      .confirm_cart_total {
          background: $alert-color;
          color: $white;
      }
  }
}
// Input pay cjheckout
.input-pay-um{
 #order_details {
  table{
    margin:0;
    a {
        color: $alert-color;
        font-weight: 900;
        transition: all 0.25s ease-out;
        &:hover{
          color: scale-color($alert-color, $lightness: -15%);
        }
    }
  }
  .cart_table{
    background:$white;
        tr {
            font-size: .7rem;
            text-transform:lowercase;
            &.cart_head {
            color:$alert-color;
            font-size: .85rem!important;
          }
          td{
            hr {
                display: none;
            }
            &:first-letter{
                  text-transform:uppercase;
              }
          }
          img{
                  min-width:40px;
              }
        }
        #payment_discounts {
          padding: $global-padding/2;
          background: #f3f4f6;
          b {
                color: $alert-color;
                display: inline-block;
            }
           a {
              display: inline-block;
              vertical-align: middle;
              margin: 0;
              font-family: inherit;
              padding: 0.85em $global-margin;
              -webkit-appearance: none;
              border: 1px solid transparent;
              border-radius: 0.1875rem;
              transition: all 0.25s ease-out;
              font-size: 0.9rem;
              font-weight: 700;
              line-height: 1;
              text-align: center;
              cursor: pointer;
              background-color:$alert-color;
              color: $white;
              &:hover{
                background: scale-color($alert-color, $lightness: -15%);
              }
          }
          input{
            display: inline-block;
            margin-top:$global-margin;
               @include breakpoint(medium) {
                max-width: 50%;
               }
          }
        }
        .cart_total {
              font-size: .85rem!important;
              font-weight: 600;
          b {
              color: $alert-color;
              font-weight: 900;
          }
        }

      }
    }
    // input ship/bill
    .bill_ship-to-um {
        font-size: .85rem;
        &>div{
          margin-bottom:$global-margin;
        }
        #tpl_bill_to {
            padding: $global-padding;
            background: #f3f4f6;
            text-transform: lowercase;
            #tpl_bill_to_title,
            #tpl_bill_to_button a{
              color:$alert-color;
              font-weight:900;
            }
            #tpl_bill_to_info{
              &:first-letter{
                text-transform: uppercase;
              }
            }
        }
        #tpl_ship_to{
          padding: $global-padding;
          background: #f3f4f6;
          text-transform: lowercase;
          #tpl_ship_to_title,
          #tpl_ship_to_button a{
            color:$alert-color;
            font-weight:900;
          }
          #tpl_ship_to_info{
            &:first-letter{
              text-transform: uppercase;
            }
          }
        }
    }
    form#pay_loyalty_points_form {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #payment_loyalty_points {
        background: #f3f4f6;
        padding: $global-padding;
    }
    #payment_loyalty_points_forms {
        margin-top: $global-padding;
    }
    #payment_loyalty_points_content {
      @include breakpoint(medium) {
        max-width: 70%;
      }
        font-size: .7rem;
    }
    input#pay_loyalty_points_use {
        @include breakpoint(medium) {
          max-width: 40%;
          margin:0;
        }
    }
    input#pay_loyalty_points_apply{
      margin:0;
    }
    // pay method
    .pay-method-um {       
        #payment_discounts {
          background: $light-gray;
          line-height: 2;
          padding: 8px 20px;
          border: 1px solid $light-gray;
          width: 80%;
          font-size: 14px
        }

        #payment_discounts #discount_name {
          padding: 1px
        }

        #validar_codigo_descuento {
          color: $dark-gray;
          background: #warning-color;
          padding: 4px 8px;
          text-decoration: none
        }

        #payment_cust_balance,
        #payment_loyalty_points {
          margin-top: 15px
        }

        #payment_cust_balance_title,
        #payment_loyalty_points_title {
          background-color: #eee;
          color: #aaa;
          font-weight: 700;
          padding: 8px
        }

        #payment_cust_balance_content,
        #payment_loyalty_points_content {
          padding: 8px;
          border-left: 1px solid $medium-gray;
          border-right: 1px solid $medium-gray;
          border-bottom: 1px solid $medium-gray
        }

        #payment_cust_balance_forms,
        #payment_loyalty_points_forms {
          text-align: right
        }

        #pay_cust_balance_form,
        #pay_cust_balance_form_remove,
        #pay_loyalty_points_amt,
        #pay_loyalty_points_form,
        #pay_loyalty_points_form_remove {
          text-align: right;
          display: inline-block
        }

        #pay_cust_balance_amt,
        #pay_loyalty_points_use {
          text-align: right;
          width: 100px
        }

        #pay_cust_balance_apply,
        #pay_loyalty_points_apply {
          margin-left: 10px
        }

        #payment_methods_content .tabs {
          position: relative;
          min-height: 270px;
          clear: both
        }

        #payment_methods_content .tab {
        	width:100%;
          @include breakpoint(medium) {
          	width: 300px
          }
        }

        #payment_methods_content .tab>label {
          padding: $global-padding;
          border-bottom: 1px solid $medium-gray;
          display: flex;
          color: $black;
          font-weight: 700;
          transition: all 0.25s ease-out;
          margin-left:0;
          &:hover{
          	background: $alert-color;
          	margin:0;
          	color:$white;
          }
        }

        #payment_methods_content .tab [type=radio] {
          display: none;
          transition: all 0.25s ease-out;
        }

        #payment_methods_content .pay_method_option {
          @include breakpoint(medium) {
          	position: absolute;
          	left: 300px;
          	top: 0;
          	right: 0;
          	bottom: 0;
          	min-height: 230px;
          }
          background: $white;
          padding: $global-padding;
          border: 1px solid $medium-gray;
        }

        #payment_methods_content .tab [type=radio]:checked~label {
          background: $alert-color;
          z-index: 2;
          color: $white;
          margin:0;
        }

        #myaccount_new_form,
        #myaccount_new_title {
          background: $alert-color;
          padding: $global-padding;
        }

        #payment_methods_content .tab [type=radio]:checked~label~.pay_method_option {
          z-index: 1
        }

        .pay_method_image,
        .pay_method_title {
          align-self: center
        }

        .pay_method_image img {
          width: 40px
        }

        .pay_method_title {
          padding-left: $global-padding;
        }

        #payment_methods_title {
          color: $alert-color;
          font-size: 16px;
          padding: $global-padding 0;
          border-bottom: 1px solid $light-gray;
        }

        #cho_pay_meth_form_cc {
          // margin-left: 80px
        }

        #cho_pay_meth_cc_number .cho_form_input {
          width: 256px
        }

        #cho_pay_meth_cc_number #ccnum {
          width: 258px;
          font-size: 100%
        }

        #cho_pay_meth_cc_cardid .cho_form_input {
          float: left;
          width: 138px
        }

        #cho_pay_meth_cc_cardid #ccid {
          width: 140px
        }

        #cc_id_info {
          float: left;
          padding: $global-padding;
        }

        #cho_pay_meth_cc_installments {
          clear: both
        }

        #cho_pay_meth_cc_expdate .cho_form_label,
        #cho_pay_meth_cc_installments .cho_form_label {
          display: block;
          float: left;
          margin: $global-margin;
        }

        #cho_pay_meth_cc_installments #installments {
          width: 95px
        }

        #cho_pay_meth_desc_pse {
          margin-bottom: 10px
        }

        #discount_name {
          width: 120px
        }

        #form_pse select {
          margin: 10px;
          width: 350px;
          text-transform: uppercase
        }

        #payment_terms_conditions {
          padding: $global-padding;
          text-align: right
        }

        #cc_id_open,#terms_open {
          text-decoration: underline
        }

        #cc_id_modal {
          max-width: 400px
        }

        .payment_place_order_button {
          margin-top: 10px;
          text-align: right
        }
    }
    div#cho_pay_meth_form_cc form>div {
      float: left;
      width: 50%;
      grid-column: 1fr 1fr;
    }

    div#cho_pay_meth_cc_expdate > div {
      display: flex;
      margin: 0;
    }

    .cho_form_label {
      display: none;
    }

    div#cho_pay_method_tabs form input {
      margin: 0;
      }
  }