$app-dashboard-top-nav-height: rem-calc(55);

.app-dashboard-top-nav-bar  {
  height: $app-dashboard-top-nav-height;
  width: 100%;
  flex: 0 0 $app-dashboard-top-nav-height;
}
//header
.topbarslide{
	.slick-track {
		display: flex;
		align-items: center;
	}
}
.sub-top-bar a {
    font-size: .85rem;
}
.header-um{
	background-color: $white;
}
.navigation-um{
	&>div {
  align-self: stretch;
  display: flex;
		&>a {
		  display: block;
		  width: 100%;
		  margin: 0;
		  border-radius: 0;
		}
	}
}
.vertical-menu-um{
	position:relative;
}
// tel animation
@keyframes ring {
    0% {transform: rotate(0deg);background:$white;color:$black;}
    25% {transform: rotate(20deg);background:$success-color;color:$white;}
    75% {transform: rotate(0deg);background:$white;color:$black;}
    100% {transform: rotate(20deg);background:$success-color;color:$white;}
}
@keyframes ringtel {
    0% {color:$warning-color;}
    25% {color:$dark-gray;}
    75% {color:$warning-color;}
    100% {color:$dark-gray;}
}
.tel-animation i{
	animation-name: ring;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	border-radius: 100%;
}
.tel-animation small b{
	animation-name: ringtel;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	border-radius: 100%;
}
//responsive clases hamburguer menu
@media screen and (max-width: 40em) { 
	.hamburguer-icon-um {
	  position: relative;
	  left: 0.46875rem;
	  font-size: 2rem;

	}
	.navigation-um {
	  background: rgba($white,.9);
	  box-shadow: 0px 1px 3px rgba($black,.2);
	  position: absolute;
	  left: 0;
	  right: 0;
	  max-height: 100vh;
	  height: 100vh;
	  z-index: 99999;
	  display: none;
	}
	.formsearchcontainer {
	  padding: $global-padding/2;
	}
	.fixed-top-nav{
		.logo-um-mobile{
			img {
					  max-width: 30vh;
					}
		}
		.hamburguer-icon-um{
			font-size: 1rem
		}
		.formsearchcontainer {
		  padding-top:0;
		}
	}
	.navigation-um > div > a{
		padding:$global-padding $global-padding;
	}
}
.navigation-um a {
  font-size: .85rem;
  font-weight: 900;
}
// megamenu main navigation total code
.category-menu-um {
  background: $white;
  z-index: 9;
  width: 100%;
  top: 100%;
  @include breakpoint(medium) {
  	background: $light-gray;
  	min-height: rem-calc(300px);
  	width: 80vw;
  	max-width:65rem;
  	box-shadow: 0px 1px 3px rgba($black,.2);
  }
  ul {
    list-style: none;
    	margin: 0;
  }
  &>ul {
    position: relative;
    &>li {
		  &>ul {
		    background: $white;
		    @include breakpoint(medium) {
					max-width: $global-width - (rem-calc(121px));
					margin-left: 12.6%;
		    }
		  }
		}
  }
}

  .category-menu-um > ul > .has-children {
    min-height: 100%;
  }

  .category-menu-um > ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    justify-content: center;
  }

  .category-menu-um > ul a {
    font-size: .85rem;
  }
  .category-menu-um > ul >li {
  	transition: all 0.25s ease-out;
    width: 100%;
    align-self: stretch;
  }

  .category-menu-um > ul > li > a {
  	align-self: stretch;
		background: $light-gray;
		width: 12.6%;
		float: left;
		text-align: left;
		font-weight: 900;
		color: $dark-gray;
		border-bottom: 1px solid $dark-gray;
		padding: $global-padding;
		transition: all 0.25s ease-out;
		&:hover {
  		background:scale-color($light-gray, $lightness: -14%);
		}
  }

  .category-menu-um > ul > .has-children > ul {
    float: left;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    min-height: rem-calc(300px);
  }
  .category-menu-um > ul > .has-children:first-child >ul {
    z-index: 1;
    opacity: 1;
  }

  .category-menu-um > ul > li:hover > ul {
      z-index:2;
      opacity: 1;
  }
  .category-menu-um > ul > .has-children > ul > li {
    display: block;
    float: left;
  }
  .category-menu-um > ul > .has-children > ul > li > a {
    color: rebeccapurple;
    font-weight: 900;
    text-align: left;
  }

  .category-menu-um > ul > .has-children > ul > li {
    padding: 1rem;
    text-align: left;
  }

  .category-menu-um > ul > .has-children > ul > li > ul a {
    color: $dark-gray;
  }
.scroll-navigation{
	border-bottom:rem-calc(3px) solid $warning-color;
}
.fixed-top-nav{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
	background: rgba($white,.9);
	box-shadow: 0px 1px 3px rgba($black,.2);
	.logo-um{
		@include breakpoint (medium) {
			display: flex;
		}
		img{
			transition:all 90ms ease-in-out;
			@include breakpoint(medium) {
				max-width: 100px;
			}
		}
	}	
}
// footer
.site-map-um {
	ul {
		li{
			a {
				font-size: .7rem!important;
			}
		}
	}
	h6 {
	    margin: 0;
	}
}
// categories navigation
.navigation-pages {

	.page_nav_grid{
	 display:flex;
	 align-items: center;
	 justify-content: flex-end;
	 position: relative;
	 &::after {
		position: absolute;
		content: '';
		border-top: rem-calc(2px) solid;
		border-color:$medium-gray;
		width: 100%;
		z-index: -1;
	 }
	 .pagination{
	     list-style:none;
	     display: flex;
	     margin:0;
	     background: #f3f4f6;
	     font-size: .85rem;
		 flex-wrap: wrap;
	     .page-item{
	         padding:rem-calc(5px);
	         align-self:center;
	         &.disabled{
	         	a{
	         		$size:rem-calc(20px);
	         		background: $alert-color;
	         		color:$white;
					border-radius: 100%;
					height: $size;
					width: $size;
					display: block;
					text-align: center;
					line-height: 1.2;
	         	}
	         }
	         a{
	         	color:$dark-gray;
	         	font-weight: 700;
	         	&:hover{
	         		color:scale-color($dark-gray, $lightness: -14%);
	         		text-decoration: underline;
	         	}
	         }
	     }
	 }
	}
	&.last-nav-pages{
			padding: $global-padding $global-padding;
		@include breakpoint(medium) {
			padding: $global-padding*2 0;
		}
		.page_nav_grid{
		justify-content: center;
		&:after{
			border-color:$alert-color;
		}
		.pagination{
			.page-item{
				&.disabled{
						a{
						color:$white;
						}
					}
					a{
						color:$alert-color;
						font-weight: 700;
					}
				}
			}
		}
	}
}
// breadcrumb
.breadcrumbs-um{
	font-size: .8rem;
	 a {
	    color: $dark-gray;
	    font-size: .8rem;
	    font-weight: 700;
	    &:hover{
	    	color:$warning-color;
	    }

	}
}
// carrito de compras
#canasta_compras {
    position: relative;
    display: flex;
}
.car-view-um {
    position: absolute;
    top: 100%;
    width: 100vw;
    right: 0;
    background: $white;
    box-shadow: 0px rem-calc(1px) rem-calc(3px) rgba($black,.2);
    padding-bottom: $global-padding/2;
	right: 0;
	left: 0;
	z-index: 999;
   @include breakpoint(medium) {
   	right: $global-margin;
   	left:initial;
   	width: 30vw;
   	padding-bottom: 1rem;
   	max-width: rem-calc(335px);
   }

	#cart_column_title {
	    font-weight: 900;
	    color: $alert-color;
	    background: $white;
	}

	tr.cart_column_product_container {
	    background: $white;
	}

	td.cart_column_prod_name a,
	td.cart_column_prod_name {
	    color: $dark-gray;
	    font-size: .7rem;
	    text-transform: lowercase;
	    text-align: left;
	}


	.cart_column_products {
		tr {
			background: $white!important;
		}
	}

	td.cart_column_prod_price {
	    font-size: .7rem;
	}

	td.cart_column_image img {
	    width: 50px;
	}

	td.cart_column_image {
	    padding: 0;
	}
	td.cart_column_prod_name {
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
	    br {
	    	    display: none;
	    	}
    	a:first-letter {
    		    text-transform: uppercase!important;
    		}
	}
	tr.cart_column_totals {
	    color: $alert-color;
	    font-size: .8rem;
	    font-weight:600;
	}
}