$app-dashboard-top-nav-height: rem-calc(55);

.app-dashboard-top-nav-bar  {
  height: $app-dashboard-top-nav-height;
  width: 100%;
  flex: 0 0 $app-dashboard-top-nav-height;
}
//header
.topbarslide{
	.slick-track {
		display: flex;
		align-items: center;
	}
}

.header-um{
	background-color: $white;
}
// megamenu main navigation total code
#left_grupos_slide1 {
  background: $white;
  z-index: 9;
  width: 100%;
  @include breakpoint(medium) {
  	width: 80vw;
  	max-width: $global-width - $global-margin;
  	box-shadow: 0px 1px 3px rgba($black,.2);
  }
  ul {
    list-style: none;
  }
  &>ul {
    margin: 0;
    position: relative;
    &>li {
		 @include breakpoint(medium) {
		 	display: flex;
		 }
		  &>ul {
		    display: none;
		    margin: 0;
		    position: absolute;
		    background: $white;
		    @include breakpoint(medium) {
					max-width: $global-width - (rem-calc(121px));
					margin-left: rem-calc(121px);
		    }
		  }
		  &:first-child{
		  	>ul{
		  		@include breakpoint(medium) {
					display:flex;
					}
		  	}
		  }
		}
  }
}
.scroll-navigation{
	border-bottom:5px solid $warning-color;
}
.fixed-top-nav{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
	background: rgba($white,.9);
	box-shadow: 0px 1px 3px rgba($black,.2);
	.logo-um{
		@include breakpoint (medium) {
			display: flex;
		}
		img{
			transition:all 90ms ease-in-out;
			@include breakpoint(medium) {
				max-width: 100px;
			}
		}
	}	
}
// categories navigation
.navigation-pages {

	.page_nav_grid{
	 display:flex;
	 align-items: center;
	 justify-content: flex-end;
	 position: relative;
	 &::after {
		position: absolute;
		content: '';
		border-top: rem-calc(2px) solid;
		border-color:$medium-gray;
		width: 100%;
		z-index: -1;
	 }
	 .pagination{
	     list-style:none;
	     display: flex;
	     margin:0;
	     background: #f3f4f6;
	     .page-item{
	         padding:rem-calc(5px);
	         align-self:center;
	         &.disabled{
	         	a{
	         		$size:rem-calc(20px);
	         		background: $alert-color;
	         		color:$white;
					border-radius: 100%;
					height: $size;
					width: $size;
					display: block;
					text-align: center;
					line-height: 1.2;
	         	}
	         }
	         a{
	         	color:$dark-gray;
	         	font-weight: 700;
	         	&:hover{
	         		color:scale-color($dark-gray, $lightness: -14%);
	         		text-decoration: underline;
	         	}
	         }
	     }
	 }
	}
	&.last-nav-pages{
			padding: $global-padding $global-padding;
		@include breakpoint(medium) {
			padding: $global-padding*2 0;
		}
		.page_nav_grid{
		justify-content: center;
		&:after{
			border-color:$alert-color;
		}
		.pagination{
			.page-item{
				&.disabled{
						a{
						color:$white;
						}
					}
					a{
						color:$alert-color;
						font-weight: 700;
					}
				}
			}
		}
	}
}
// breadcrumb
.breadcrumbs-um{
	font-size: .8rem;
	 a {
	    color: $dark-gray;
	    font-size: .8rem;
	    font-weight: 700;
	    &:hover{
	    	color:$warning-color;
	    }

	}
}
// filters
.categories-filter{
	 ul {
	    list-style: none;
	    margin:0;
	}
}