<header class="header-um">
	<div class="grid-container full bg-black">
		<div class="grid-x text-center">
					<div class="small-12 large-4 large-offset-4 topbarslide">
						<a class="text-white" href=""><small>Envío gratis / Por compras superiores a $100.000</small></a>
						<a class="text-white" href=""><small>Envío gratis / Por compras superiores a $100.000</small></a>
						<a class="text-white" href=""><small>Envío gratis / Por compras superiores a $100.000</small></a>
					</div>
		</div>
	</div>
	<div class="grid-container-full bg-medium-gray ">
		<div class="grid-container">
			<div class="grid-x text-center">
				<div class="large-4">
					<a class="text-dark-gray" href="">| <small class="small-margin-collapse text-dark-gray"><i class="text-warning fas fa-lock"></i> COMPRA 100% SEGURA</small></a>
				</div>
				<div class="large-5 large-offset-3">
					<a class="text-dark-gray" href=""><small><i class="fas fa-info-circle"></i> ¿COMO COMPRAR?</small> |</a> 
					<a class="text-dark-gray" href="/myaccount/"><small>QUIERO VENDER</small> |</a>
					<a class="text-dark-gray" href=""><small><i class="fab fa-whatsapp text-success"></i> SERVICIO AL CLIENTE</small></a>
				</div>
			</div>
		</div>
	</div>
	<div class="grid-container full bg-white grid-y">
		<div class="grid-container small-12 bg-white small-order-1 large-order-2">
			<div class="hide-for-medium">
				<div class="container-grid">
					<div class="grid-x grid-margin-x grid-padding-y align-strench">
						<div class="cell small-10"><a href="/"><img src="[[cdn_url]]/web_content/assets/logo-mobile-universomascotas.jpg" alt="universomascotas mobile logo"></a></div>
						<div class="cell small-2 hamburguer-icon-um bg-warning text-white text-center"><i class="fas fa-bars"></i></div>
					</div>
				</div>
			</div>
			<nav class="grid-x text-center navigation-um align-middle">
				<div class="cell large-auto">
					<a href="" class="button warning text-white"><i class="fas fa-plus"></i> Categoría</a>
				</div>
				<div class="cell large-auto">
					<a href="" class="button success text-white"><img src="	https://cdn.totalcode.com.co/universomascotas/web_content/assets/perro-universomascotas.svg" width="20" alt="perros universomascotas.co"> Perros</a>
				</div>
				<div class="cell large-auto">
					<a href="" class="button alert text-white"><img src="	https://cdn.totalcode.com.co/universomascotas/web_content/assets/gato-universomascotas.svg" width="20" alt="gatos universomascotas.co"> Gatos</a>
				</div>
				<div class="cell large-auto">
					<a href="" class="button secondary text-white"><img src="	https://cdn.totalcode.com.co/universomascotas/web_content/assets/petlover-universomascotas.svg" width="20" alt="petlovers universomascotas.co"> Petlover</a>
				</div>
				<div class="cell large-auto">
					<a href="" class="clear button secondary text-medium-gray">Marcas</a>
				</div>
				<div class="cell large-auto">
					<a href="" class="clear button text-alert">Ofertas</a>
				</div>
				<div class="cell large-offset-2 large-auto">
					<a href="/myaccount/" class="button third text-dark-gray">Mi Cuenta</a>
				</div>
				<div class="cell large-auto shirnk">
					<p></p>	
				</div>
			</nav>
		</div>
		<div class="grid-container small-12 small-order-2 large-order-1">
			<div class="grid-x text-center grid-padding-x">
				<div class="large-3 logo-um">
					<a href="./"><img src="assets/img/universomascotas-logo.png" alt="logo Universomascotas.co"></a>
				</div>
				<div class="large-6 formsearchcontainer grid-x align-middle grid-margin-x">
					<div class="cell auto">
						<form id="searchform" class="searchformum" action="/search/" method="get">
							<input type="text" name="k" class="input_buscar" value="Encuentra productos y servicios para tu mascota" name="Buscar"  />
							<input type="submit" value="Buscar" class="searchbutton button alert text-white" />
							<a href="" class="button alert"><i class=" text-white fas fa-pencil-alt"></i></a>
							<a href="" class="button alert"><i class=" text-white fas fa-camera"></i></a>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>