<header data-sticky-container>
	<div class="grid-container full bg-black">
		<div class="grid-x text-center">
					<div class="small-12 large-4 large-offset-4 topbarslide">
						<a class="text-white" href="">Envío gratis / Por compras superiores a $100.000</a>
						<a class="text-white" href="">Envío gratis / Por compras superiores a $100.000</a>
						<a class="text-white" href="">Envío gratis / Por compras superiores a $100.000</a>
					</div>
		</div>
	</div>
	<div class="grid-container-full bg-medium-gray">
		<div class="grid-container">
			<div class="grid-x text-center">
				<div class="large-4">
					<a class="text-dark-gray" href="">| <small class="small-margin-collapse text-dark-gray"><i class="text-warning fas fa-lock"></i> COMPRA 100% SEGURA</small></a>
				</div>
				<div class="large-5 large-offset-3">
					<a class="text-dark-gray" href=""><small><i class="fas fa-info-circle"></i> ¿COMO COMPRAR?</small> |</a> 
					<a class="text-dark-gray" href="/myaccount/"><small>QUIERO VENDER</small> |</a>
					<a class="text-dark-gray" href=""><small><i class="fab fa-whatsapp text-success"></i> SERVICIO AL CLIENTE</small></a>
				</div>
			</div>
		</div>
	</div>
	<div class="grid-container full bg-white">
		<div class="grid-container">
			<div class="grid-x text-center grid-padding-x">
				<div class="large-3 logo-um">
					<a href="./"><img src="assets/img/universomascotas-logo.png" alt="logo Universomascotas.co"></a>
				</div>
				<div class="large-6 formsearchcontainer grid-x align-middle grid-margin-x">
					<div class="cell auto">
						<form id="searchform" class="searchformum" action="/search/" method="get">
							<input type="text" name="k" class="input_buscar" value="Encuentra productos y servicios para tu mascota" name="Buscar"  />
							<input type="submit" value="Buscar" class="searchbutton button alert text-white" />
							<a href="" class="button alert"><i class=" text-white fas fa-pencil-alt"></i></a>
							<a href="" class="button alert"><i class=" text-white fas fa-camera"></i></a>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="grid-container bg-white">
		<nav class="grid-x text-center navigation-um align-middle">
			<div class="cell large-auto">
				<a href="" class="button warning text-white">+ Categoría</a>
			</div>
			<div class="cell large-auto">
				<a href="" class="button success text-white">Perro</a>
			</div>
			<div class="cell large-auto">
				<a href="" class="button alert text-white">Gato</a>
			</div>
			<div class="cell large-auto">
				<a href="" class="button secondary text-white">Petlover</a>
			</div>
			<div class="cell large-auto">
				<a href="" class="text-medium-gray">Marcas</a>
			</div>
			<div class="cell large-auto">
				<a href="" class="text-alert">Ofertas</a>
			</div>
			<div class="cell large-offset-2 large-auto">
				<a href="/myaccount/" class="button third text-dark-gray">Mi Cuenta</a>
			</div>
			<div class="cell large-auto shirnk">
				<p></p>	
			</div>
		</nav>
	</div>
</header>